<title>Welcome</title>
<style>
  .Welcomer {
    margin: auto;
    margin-bottom: 250px;
    color: white;
    width: 500px;
  }
  #body {
    background: #142f5b;
  }
</style>

<body id="body">
<div class="Welcomer">
  <h3> Welcome to Arena 51 <%= @user.username %> </h3>
</div>
</body>
